
::ng-deep .mat-form-field .mat-input-element {
    color: slategray;
}
::ng-deep .mat-form-field .mat-form-field-label {
    color: slategray!important;
}
::ng-deep .mat-form-field .mat-form-field-underline {
    background-color: slategray;
}
::ng-deep .mat-form-field .mat-form-field-ripple {
    background-color: slategray;
}
::ng-deep .mat-form-field .mat-form-field-required-marker {
    color: slategray;
}

/* .full-width {
 width: 85%
} */